@media screen and (min-width: 768px) {
    .cabecalho__conteiner{
        padding: 16px 32px;
    }
    .cabecalho__caixa{
        align-items: center;
        display: flex;
    }
    .cabecalho__login{
        width: 25%;
    }

    .cabecalho__busca{
        align-items: center;
        background: var(--cor-preto-5);
        border-radius: 20px;
        display: flex;
        margin-left: 32px;
        padding: 8px 16px;
    }
    .cabecalho__busca::placeholder {
        color: var(--cor-preto-50);
    }
    .busca__input{
        color: var(--cor-preto-100);
        background: var(--cor-preto-5);
        border: transparent;
        display: block;
    
    }
    
    .busca__icone{
        background: url(../../img/cabecalho/Icone.svg) center / cover no-repeat;

        height: 24px;
        width: 24px;
    }

    .cabecalho__busca--mobile{
        display: none;
        order: 0;
    }
}
@media screen and (min-width: 1440px) {
    .cabecalho__conteiner{
        padding: 32px 0;
        margin: 0 11%;
    }
    .logo__imagem{
        width: 176px;
        
    }
    
    .cabecalho__login{
        width: 20%;
        font-size: 1rem;
    }
}