.produto--csl1{
    background: url(../../../img/consoles/unsplash_0POwK6iAiRQ.png) center / cover no-repeat;
}
.produto--csl2{
    background: url(../../../img/consoles/unsplash_caNzzoxls8Q.png) center / cover no-repeat;
}
.produto--csl3{
    background: url(../../../img/consoles/unsplash_ZV7lnfyQLmA.png) center / cover no-repeat;
}
.produto--csl4{
    background: url(../../../img/consoles/unsplash_wa5z9o9fgjw.png) center / cover no-repeat;
}
.produto--csl5{
    background: url(../../../img/consoles/unsplash_Zjn4dT993-g.png) center / cover no-repeat;
}
.produto--csl6{
    background: url(../../../img/consoles/unsplash_k-xYhI3-gJM.png) center / cover no-repeat;
}