.produto--sw1{
    background: url(../../../img/star-wars/unsplash_6FDXGY9J6y4.png) center / cover no-repeat;
}
.produto--sw2{
    background: url(../../../img/star-wars/unsplash_epRFE_hBNjo.png) center / cover no-repeat;
}
.produto--sw3{
    background: url(../../../img/star-wars/unsplash_KeGToDVN0l4.png) center / cover no-repeat;
}
.produto--sw4{
    background: url(../../../img/star-wars/unsplash_4OHkK555s1A.png) center / cover no-repeat;
}
.produto--sw5{
    background: url(../../../img/star-wars/unsplash_R8L1l9RN198.png) center / cover no-repeat;
}
.produto--sw6{
    background: url(../../../img/star-wars/unsplash_1VV1MRafd7A.png) center / cover no-repeat;
}